@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background: linear-gradient(), url("/front-end/public/raiden4.png"); */
  background-repeat: no-repeat;
  background-size: cover; /* cover size screen*/
  background-position: center;
  background-attachment: fixed; /*fix cung background k bi troi khi scroll*/
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../dist/bgr-img.png');
}

/* drank mode looking scrollbar*/
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #555;
}

::-webkit-scrollbar-thumb{
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #242424;
}
