@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background: linear-gradient(), url("/front-end/public/raiden4.png"); */
  background-repeat: no-repeat;
  background-size: cover; /* cover size screen*/
  background-position: center;
  background-attachment: fixed; /*fix cung background k bi troi khi scroll*/
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('bgr-img.png');
};
